
<nb-layout>

  <nb-layout-header>
   <ul>
     <ul>Hanson Chen</ul>
     <ul><nb-icon icon="github"></nb-icon></ul>
     <ul><nb-icon icon="linkedin"></nb-icon></ul>
   </ul>

  </nb-layout-header>
  <nb-layout-column class="colored-column-basic">

    <div class="card-container">
    <nb-card size="small">
      <nb-card-header>Hello 👋</nb-card-header>
      <nb-card-body>
        <img src="assets/profile.png">
        <p>Welcome to my website.</p>
      </nb-card-body>
    </nb-card>

    <nb-card size="small">
      <nb-card-header>About Me</nb-card-header>
      <nb-card-body>
        <p>Donald John Trump is the 45th and current president of the United States. Before entering politics, he was a businessman and television personality. Trump was born and raised in Queens, a borough of New York City, and received a bachelor's degree in economics from the Wharton School.</p>
      </nb-card-body>
    </nb-card>

    <nb-card size="small">
      <nb-card-header>Projects</nb-card-header>
      <nb-card-body>
        <p>Donald John Trump is the 45th and current president of the United States. Before entering politics, he was a businessman and television personality. Trump was born and raised in Queens, a borough of New York City, and received a bachelor's degree in economics from the Wharton School.</p>
      </nb-card-body>
    </nb-card>

  </div>




  </nb-layout-column>
  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>
