<nb-layout>
  <nb-layout-header>
    <ul id="header-icons">
      <ul>
        <a target="_blank" rel="noopener" href={{github}}>
          <nb-icon class="hvr-grow-rotate" icon="github"></nb-icon>
        </a>
      </ul>
      <ul>
        <a target="_blank" rel="noopener" href={{linkedin}}>
          <nb-icon class="hvr-grow-rotate" icon="linkedin"></nb-icon>
        </a>
      </ul>
      <ul>
        <a href='tel:{{phone}}'>
          <nb-icon class="hvr-grow-rotate" icon="phone"></nb-icon>
        </a>
      </ul>
      <ul>
        <a href='mailto:hglchen@uwaterloo.ca'>
          <nb-icon class="hvr-grow-rotate" icon="email"></nb-icon>
        </a>
      </ul>
    </ul>
  </nb-layout-header>

  <nb-layout-column class="colored-column-basic">
  <router-outlet></router-outlet>
</nb-layout-column>

  <nb-layout-footer>
    <ul id="footer-icons">
      <ul>
        <a target="_blank" rel="noopener" href={{github}}>
          <nb-icon class="hvr-grow-rotate" icon="github"></nb-icon>
        </a>
      </ul>
      <ul>
        <a target="_blank" rel="noopener" href={{linkedin}}>
          <nb-icon class="hvr-grow-rotate" icon="linkedin"></nb-icon>
        </a>
      </ul>
      <ul>
        <a href='tel:{{phone}}'>
          <nb-icon class="hvr-grow-rotate" icon="phone"></nb-icon>
        </a>
      </ul>
      <ul>
        <a href='mailto:hglchen@uwaterloo.ca'>
          <nb-icon class="hvr-grow-rotate" icon="email"></nb-icon>
        </a>
      </ul>
    </ul>
  </nb-layout-footer>
</nb-layout>
