<nb-layout>
  <nb-layout-header>
    <ul id="header-icons">
      <ul>
        <a target="_blank" rel="noopener" href={{github}}><nb-icon class="hvr-grow-rotate" icon="github"></nb-icon></a>
      </ul>
      <ul>
        <a target="_blank" rel="noopener" href={{linkedin}}><nb-icon class="hvr-grow-rotate" icon="linkedin"></nb-icon></a>
      </ul>
      <ul>
        <a href='tel:{{phone}}'><nb-icon class="hvr-grow-rotate" icon="phone"></nb-icon></a>
      </ul>
      <ul>
        <a href='mailto:hglchen@uwaterloo.ca'><nb-icon class="hvr-grow-rotate" icon="email"></nb-icon></a>
      </ul>
    </ul>

  </nb-layout-header>
  <nb-layout-column class="colored-column-basic">
    <div class="project-wrapper">
      <div class="inner-project-wrapper">
        <div class="card-container">
          <nb-card accent="primary" size="small" id="hello-card">
            <nb-card-header>Hanson Chen
            </nb-card-header>
            <nb-card-body>
              <img id="profile" class="hvr-float" src="assets/profile.jpg">
            </nb-card-body>
            <nb-card-footer>Welcome 🙌</nb-card-footer>
          </nb-card>
          <nb-card accent="primary" id="about-card" size="small">
            <nb-card-header>🎓About Me</nb-card-header>
            <nb-card-body>
              <p>
                {{aboutMeDesc}}
              </p>
              <div class="hvr-grow"><button nbButton status="primary">
                <nb-icon icon="eye-outline"></nb-icon>Resume
              </button></div>
              <p>Open to 2020 internships ✌️</p>
              <div class="hvr-grow"><button nbButton status="secondary">
                  <nb-icon icon="email-outline"></nb-icon>Contact
                </button></div>
            </nb-card-body>
          </nb-card>



          <h1>Projects</h1>

          <nb-flip-card *ngFor="let project of projects">
            <nb-card-front>
              <nb-card id="project-card" size="small">
                <nb-card-header>
                  <nb-icon class="hvr-grow-rotate" icon="github"></nb-icon>
                  {{project.title | titlecase}}
                </nb-card-header>
                <nb-card-body>
                  <img class="hvr-rotate" src={{project.img}}>
                  <p>{{project.desc}}</p>
                </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card id="project-card" size="small">
                <nb-card-header>
                  <nb-icon class="hvr-grow-rotate" icon="github"></nb-icon>
                  Description
                </nb-card-header>
                <nb-card-body>
                  <p>{{project.fullDesc}}</p>
                </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
        </div>
      </div>
    </div>

  </nb-layout-column>


  <nb-layout-footer>
    <ul id="footer-icons">
      <ul>
        <a target="_blank" rel="noopener" href={{github}}><nb-icon class="hvr-grow-rotate" icon="github"></nb-icon></a>
      </ul>
      <ul>
        <a target="_blank" rel="noopener" href={{linkedin}}><nb-icon class="hvr-grow-rotate" icon="linkedin"></nb-icon></a>
      </ul>
      <ul>
        <a href='tel:{{phone}}'><nb-icon class="hvr-grow-rotate" icon="phone"></nb-icon></a>
      </ul>
      <ul>
        <a href='mailto:hglchen@uwaterloo.ca'><nb-icon class="hvr-grow-rotate" icon="email"></nb-icon></a>
      </ul>
    </ul>
  </nb-layout-footer>
</nb-layout>
